body {
  color: #666;
}

h1 {
  text-align: center;
}

.container {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 1px solid grey;
  padding: 1em;
}

.container:first-child {
  text-align: center;
}

.col-md-12 {
  margin-left: 5.5em;
}

#stretch {
  width: 62em;
}

.container:last-child {
  height: 30em;
}

button {
  border-radius: 5px;
  background-color: #3CB371;
  color: white;
  border: none;
  height: 2.4em;
  margin-left: 1em;
}

table {
  margin-left: 5.5em;
}

th {
  padding-right: 10.5em;
  font-size: 18px;
  border-bottom: 3px solid grey;
}

td{
  padding-top: 1em;
}

.left {
  margin-left: 0em;
}

.form-group {
  margin-left: 8em;
}

.form-group:first-child {
  margin-left: 0em;
}

a, a:hover, a:visited {
  text-decoration: none;
}
