doctype html
html(ng-app="redditClone")
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css")
    script(src="/bower_components/angular/angular.min.js")
    script(src="/bower_components/angular-animate/angular-animate.min.js")
    script(src="https://code.jquery.com/jquery-2.1.4.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src="/bower_components/moment/moment.js")
    script(src="/bower_components/angular-moment/angular-moment.js")
    script(src='/javascripts/app.js')
    script(src='/javascripts/controllers.js')
  body(ng-controller="nav")
    block content
