.orange {
  color: white;
  background-color: #ffa500;
}

.welcome {
  color: #ffa500;
  font-size: 4.4em;
}

.padding {
  margin-bottom: 2em;
  margin-top: 1em;
}

td:first-child {
  width: 250px;
  max-width: 100px;
}

#addwidth {
  width: 40em;
}
